In [1]:
import pandas as pd
import requests 
from bs4 import BeautifulSoup
import warnings
warnings.simplefilter("ignore")

#READ AS --> Player Name - Base Price (in ₹) - Selling Price (in ₹) - Team

In [2]:
link = "https://sportstar.thehindu.com/cricket/wpl-auction-2023-top-sold-unsold-players-list-live-streaming-updates-wipl-womens-ipl/article66502635.ece"

In [6]:
response = requests.get(link)
response.status_code

200

In [7]:
wpl = BeautifulSoup(response.content, "html.parser")

In [8]:
data = wpl.find_all("div", class_ = "ng_infobox factbox-container")

In [34]:
data_dict = dict()
for content in data:
    S = content.find("div").string
    
    d = content.find_all("div", class_ = "infobox-description")
    if S in data_dict:
        S = "Unsold" + S
    data_dict[S] = []
    for datum in d:
        data_dict[S].append(datum.string)

In [35]:
data_dict

{'\nBATTERS\n': ['Smriti Mandhana - 50 lakh - 3.4 crore - Royal Challengers Bangalore',
  'Sophia Dunkley - 30 lakh - 60 lakh - Gujarat Giants',
  'Jemimah Rodrigues - 50 lakh - 2.2 crore - Delhi Capitals',
  'Meg Lanning - 50 lakh - 1.1 crore - Delhi Capitals',
  'Shafali Verma - 50 lakh - 2 crore - Delhi Capitals',
  'Shweta Sehrawat - 10 lakh - 40 lakh - UP Warriorz',
  'Kiran Navgire - 30 lakh - 30 lakh - UP Warriorz',
  '\nSabbineni Meghana - 30 lakh - 30 lakh - Gujarat Giants\n',
  '\nLaura Harris - 10 lakh - 45 lakh - Delhi Capitals\n',
  '\nDhara Gujjar - 10 lakh - 10lakh - Mumbai Indians\n',
  '\nJasia Akhter - 20 lakh - 20 lakh - Delhi Capitals\n',
  '\nDisha Kasat - 10 lakh - 10 lakh - Royal Challengers Bangalore\n',
  '\nSneha Deepthi - 30 lakh - 30 lakh - Delhi Capitals\n',
  '\nSimran Shaikh - 10 lakh - 10 lakh - UP Warriorz\n'],
 '\nBOWLERS\n': ['Renuka Singh - 50 lakh - 1.5 crore - Royal Challengers Bangalore',
  'Shabnim Ismail - 40 lakh - 1 crore - UP Warriorz',
  '\nAnjali Sarvani - 30 lakh - 55 lakh - UP Warriorz\n',
  '\nRajeshwari Gayakwad - 40 lakh - 40 lakh - UP Warriorz\n',
  'Titas Sadhu - 10 lakh - 25 lakh - Delhi Capitals',
  '\nLauren Bell - 30 lakh - 30 lakh - UP Warriorz\n',
  '\nMonica Patel - 30 lakh - 30 lakh - Gujarat Giants\n',
  '\nSaika Ishaque - 10 lakh - 10 lakh - Mumbai Indians\n',
  '\nPoonam Yadav - 30 lakh - 30 lakh - Delhi Capitals\n',
  '\nPreeti Bose - 30 lakh - 30 lakh - Royal Challengers Bangalore\n',
  '\nKomal Zanzad - 10 lakh - 25 lakh - Royal Challengers Bangalore\n',
  '\nParunika Sisodia - 10 lakh - 10 lakh - Gujarat Giants\n',
  'Megan Schutt - 40 lakh - 40 lakh - Royal Challengers Bangalore',
  '\nShabnam Shakil - 10 lakh - 10 lakh - Gujarat Giants\n',
  '\nSonam Yadav - 10 lakh - 10 lakh - Mumbai Indians\n',
  '\nSahana Pawar - 10 lakh - 10 lakh - Royal Challengers Bangalore\n'],
 '\nALL-ROUNDERS\n': ['Harmanpreet Kaur - 50 lakh - 1.8 crore - Mumbai Indians',
  'Sophie Devine - 50 lakh - 50 lakh - Royal Challengers Bangalore',
  'Ashleigh Gardner - 50 lakh - 3.2 crore - Gujarat Giants',
  'Ellyse Perry - 50 lakh - 1.7 crore - Royal Challengers Bangalore',
  'Sophie Ecclestone - 50 lakh - 1.8 crore - UP Warriorz',
  'Deepti Sharma - 50 lakh - 2.6 crore - UP Warriorz',
  'Natalie Sciver - 50 lakh - 3.2 crore - Mumbai Indians',
  'Tahlia McGrath - 40 lakh - 1.4 crore - UP Warriorz',
  'Amelia Kerr - 40 lakh - 1 crore - Mumbai Indians',
  '\nAnnabel Sutherland - 30 lakh - 70 lakh - Gujarat Giants\n',
  '\nHarleen Deol - 40 lakh - 40 lakh - Gujarat Giants\n',
  'Pooja Vastrakar - 50 lakh - 1.9 crore - Mumbai Indians',
  'Deandra Dottin - 50 lakh - 60 lakh - Gujarat Giants',
  '\nRadha Yadav - 40 lakh - 40 lakh - Delhi Capitals\n',
  '\nShikha Pandey - 40 lakh - 60 lakh - Delhi Capitals\n',
  '\nSneh Rana - 50 lakh - 75 lakh - Gujarat Giants\n',
  'Marizanne Kapp - 40 lakh - 1.5 crore - Delhi Capitals',
  '\nParshavi Chopra - 10 lakh - 10 lakh - UP Warriorz\n',
  '\nS Yashasri - 10 lakh - 10 lakh - UP Warriorz\n',
  '\nErin Burns - 30 lakh -30 lakh - Royal Challengers Bangalore\n',
  '\nHeather Graham - 30 lakh - 30 lakh - Mumbai Indians\n',
  'Grace Harris - 30 lakh - 75 lakh - UP Warriorz',
  '\nGeorgia Wareham - 30 lakh - 75 lakh - Gujarat Giants\n',
  '\nAlice Capsey - 30 lakh - 75 lakh - Delhi Capitals\n',
  '\nIsabelle Wong - 30 lakh - 30 lakh - Mumbai Indians\n',
  '\nMansi Joshi - 30 lakh - 30 lakh - Gujarat Giants\n',
  '\nDevika Vaidya - 40 lakh - 1.4 crore - UP Warriorz\n',
  '\nAmanjot Kaur - 30 lakh - 50 lakh - Mumbai Indians\n',
  '\nDayalan Hemalatha - 30 lakh - 30 lakh - Gujarat Giants\n',
  '\nTara Norris - 10 lakh - 10 lakh - Delhi Capitals\n',
  '\nMinnu Mani - 10 lakh - 30 lakh - Delhi Capitals\n',
  '\nShreyanka Patil - 10 lakh - 10 lakh - Royal Challengers Bangalore\n',
  '\nKanika Ahuja - 10 lakh - 35 lakh - Royal Challengers Bangalore\n',
  '\nTanuja Kanwer - 10 lakh - 50 lakh - Gujarat Giants\n',
  '\nAsha Shobana - 10 lakh - 10 lakh - Royal Challengers Bangalore\n',
  'Hayley Matthews - 40 lakh - 40 lakh - Mumbai Indians',
  'Heather Knight - 40 lakh - 40 lakh - Royal Challengers Bangalore',
  'Jess Jonassen - 50 lakh - 50 lakh - Delhi Capitals',
  '\nHurley Gala - 10 lakh - 10 lakh - Gujarat Giants\n',
  '\nArundhati Reddy - 30 lakh - 30 lakh - Delhi Capitals\n',
  '\nChloe Tryon - 30 lakh - 30 lakh - Mumbai Indians\n',
  '\nDane van Niekerk - 30 lakh - 30 lakh - Royal Challengers Bangalore\n',
  '\nAshwani Kumari - 10 lakh - 35 lakh - Gujarat Giants\n',
  '\nHumairaa Kaazi - 10 lakh - 10 lakh - Mumbai Indians\n',
  '\nPoonam Khemnar - 10 lakh - 10 lakh - Royal Challengers Bangalore\n',
  '\nJintimani Kalita - 10 lakh - 10 lakh - Mumbai Indians\n',
  '\nNeelam Bisht - 10 lakh - 10 lakh - Mumbai Indians\n'],
 '\nWICKETKEEPERS\n': ['Beth Mooney - 40 lakh - 2 crore - Gujarat Giants',
  '\nYastika Bhatia - 40 lakh - 1.5 crore - Mumbai Indians\n',
  'Richa Ghosh - 50 lakh - 1.9 crore - Royal Challengers Bangalore',
  'Alyssa Healy - 50 lakh - 70 lakh - UP Warriorz',
  '\nLaxmi Yadav - 10 lakh - 10 lakh - UP Warriorz\n',
  '\nIndrani Roy - 10 lakh - 10 lakh - Royal Challengers Bangalore\n',
  '\nTaniyaa Bhatia - 30 lakh - 30 lakh - Delhi Capitals\n',
  '\nSushma Verma - 30 lakh - 60 lakh - Gujarat Giants\n',
  '\nAparna Mondal - 10 lakh - 10 lakh - Delhi Capitals\n',
  '\nPriyanka Bala - 20 lakh - 20 lakh - Mumbai Indians\n'],
 'Unsold\nBATTERS\n': ['Suzie Bates - 30 lakh',
  '\nTazmin Brits - 30 lakh\n',
  'Laura Wolvaardt - 30 lakh',
  '\nTammy Beaumont - 30 lakh\n',
  '\nShikha Shalot - 10 lakh\n',
  '\nPriya Punia - 40 lakh\n',
  '\nBharti Fulmali - 30 lakh\n',
  '\nDivya Gnanananda - 10 lakh\n',
  '\nIshwari Savkar - 10 lakh\n',
  '\nArushi Goel - 10 lakh\n'],
 'Unsold\nBOWLERS\n': ['\nShamilia Connell - 30 lakh\n',
  '\nFreya Davies - 30 lakh\n',
  '\nJahanara Alam - 30 lakh\n',
  '\nLea Tahuhu - 30 lakh\n',
  '\nAyabonga Khaka - 30 lakh\n',
  '\nShakera Selman - 30 lakh\n',
  '\nSarah Glenn - 30 lakh\n',
  '\nNonkululeko Mlaba - 30 lakh\n',
  '\nInoka Ranaweera - 30 lakh\n',
  'Alana King - 40 lakh',
  '\nAfy Fletcher - 30 lakh\n',
  '\nFran Jonas - 30 lakh\n',
  '\nFalak Naz - 10 lakh\n',
  '\nGouher Sultana - 30 lakh\n',
  '\nEkta Bisht - 30 lakh\n'],
 'Unsold\nALL-ROUNDERS\n': ['\nSune Luus - 30 lakh\n',
  '\nDani Wyatt - 50 lakh\n',
  'Chamari Athapaththu - 30 lakh',
  '\nLeigh Kasperek - 30 lakh\n',
  '\nNadine de Klerk - 30 lakh\n',
  '\nSalma Khatun - 40 lakh\n',
  'Soumya Tiwari - 10 lakh',
  '\nGrace Scrivens -10 lakh\n',
  'Archana Devi - 10 lakh',
  'G. Trisha - 10 lakh',
  '\nMannat Kashyap - 10 lakh\n',
  '\nNajla CMC - 10 lakh\n',
  '\nSonia Mendhiya - 10 lakh\n',
  '\nShorna Akter - 20 lakh\n',
  '\nKim Garth - 30 lakh\n',
  'Katherine Brunt - 50 lakh',
  '\nSimran Bahadur - 30 lakh\n',
  '\nAnuja Patil - 30 lakh\n',
  '\nSwagatika Rath - 30 lakh\n',
  '\nMeghna Singh - 50 lakh\n',
  '\nMahika Gaur - 10 lakh\n',
  '\nTarannum Pathan - 10 lakh\n',
  '\nSajana S - 10 lakh\n',
  '\nNishu Choudhary - 10 lakh\n',
  '\nKathryn Bryce - 10 lakh\n',
  '\nTess Flintoff - 10 lakh\n',
  '\nNeetu Singh -10 lakh\n',
  '\nParushi Prabhakar - 10 lakh\n'],
 'Unsold\nWICKETKEEPERS\n': ['\nAnushka Sanjeewani - 30 lakh\n',
  '\nBernadine Bezuidenhout - 30 lakh\n',
  '\nAmy Jones - 40 lakh\n',
  'Hrishita Basu- 10 lakh',
  '\nShipra Giri - 10 lakh\n',
  '\nSarah Bryce - 10 lakh\n']}

In [129]:
WPL = pd.DataFrame(columns =["Name", "Base Price (rs)", "Sold Price (rs)", "Team"])

In [87]:
WPL

Empty DataFrame
Columns: [Name, Base Price, Sold Price, Team]
Index: []

In [ ]:

for column in data_dict:
    for d in data_dict[column]:
        name.append(d.split("-")[0])
        base.append(d.split("-")[1])
        try:
            sold.append(d.split("-")[2])
        except:
            sold.append("Unsold")
        try:    
            team.append(d.split("-")[3])
        except:
            team.append("Unsold")

In [106]:
name = []
base = []
sold = []
team = []
for column in data_dict:
    for d in data_dict[column]:
        name.append(d.split("-")[0])
        base.append(d.split("-")[1])
        try:
            sold.append(d.split("-")[2])
        except:
            sold.append("Unsold")
        try:    
            team.append(d.split("-")[3])
        except:
            team.append("Unsold")

In [130]:
WPL["Name"] = pd.Series(name)
WPL["Base Price (rs)"] = pd.Series(base)
WPL["Sold Price (rs)"] = pd.Series(sold)
WPL["Team"] = pd.Series(team)

In [132]:
WPL.head()

,Name,Base Price (rs),Sold Price (rs),Team
0,Smriti Mandhana,50 lakh,3.4 crore,Royal Challengers Bangalore
1,Sophia Dunkley,30 lakh,60 lakh,Gujarat Giants
2,Jemimah Rodrigues,50 lakh,2.2 crore,Delhi Capitals
3,Meg Lanning,50 lakh,1.1 crore,Delhi Capitals
4,Shafali Verma,50 lakh,2 crore,Delhi Capitals

In [135]:
WPL.tail()

                        Name Base Price (rs) Sold Price (rs)    Team
141  Bernadine Bezuidenhout          30 lakh          Unsold  Unsold
142               Amy Jones          40 lakh          Unsold  Unsold
143            Hrishita Basu         10 lakh          Unsold  Unsold
144             Shipra Giri          10 lakh          Unsold  Unsold
145             Sarah Bryce          10 lakh          Unsold  Unsold

In [134]:
for column in WPL:
    print(column)
    WPL[column] = WPL[column].apply(lambda X : X.replace("\n",""))

Name
Base Price (rs)
Sold Price (rs)
Team

In [126]:
for column in WPL:
    if column not in ("Name","Team"):
        print(column)
        WPL[column] = WPL[column].apply(lambda X : X.replace(r" lakh","00000"))
        WPL[column] = WPL[column].apply(lambda X : X.replace(r" lakh","00000"))

Base Price
Sold Price

In [136]:
WPL.to_csv("Women Premier Leauge.csv")

In [128]:
WPL.iloc[8]

Name            Laura Harris
Base Price           1000000
Sold Price           4500000
Team           Delhi Capitals
Name: 8, dtype: object